* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #444444;
  font-family: BalooBhai, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  user-select: none;
}

@font-face {
  font-family: NicoMojit;
  src: url("./assets/fonts/NicoMoji.ttf");
}
@font-face {
  font-family: BalooBhai;
  src: url("../fonts/BalooBhai2.ttf");
}
body {
  background-color: #eaf3f4;
}

.btn {
  display: grid;
  place-items: center;
  background-color: #444444;
  color: #ffffff;
  padding: 15px;
  border-radius: 50px;
  width: 80px;
  text-align: center;
  transition: transform 200ms;
}
.btn:active {
  transform: scale(0.9);
}

.page {
  padding: 30px;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-page .logo {
  width: 80%;
  margin: 20px;
  margin-bottom: 50px;
}
.login-page .input-box {
  border: 2px solid #444444;
  width: 70%;
  height: 40px;
  border-radius: 50px;
  margin-bottom: 10px;
  color: #444444;
  font-size: 15px;
  padding-inline: 20px;
  user-select: contain;
}
.login-page .input-box::placeholder {
  color: #444444;
}
.login-page .input-box:focus {
  outline: none;
}
.login-page .login-btn {
  align-self: flex-end;
  position: relative;
  right: 15%;
}
.login-page .bottom-section {
  text-align: center;
  position: relative;
  top: 100px;
}
.login-page .bottom-section .sign-up-nav {
  font-size: 20px;
  color: #ff6363;
  transition: transform 200ms;
}
.login-page .bottom-section .sign-up-nav:active {
  transform: scale(0.9);
}

.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.not-found-page h1 {
  font-size: 100px;
  margin-bottom: 20px;
}
.not-found-page p {
  font-size: 20px;
  text-align: center;
}

.chats-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 30px;
  padding-bottom: 0;
}
.chats-page .chat-list {
  width: 100%;
  height: 100%;
  position: relative;
}
.chats-page .chat-list .chat {
  width: 100%;
  height: 80px;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: #444444;
  color: #ffffff;
  padding-inline: 15px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
}
.chats-page .chat-list .chat .chat-pro-pic {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.chats-page .chat-list .chat .name-message {
  margin-left: 10px;
}
.chats-page .chat-list .chat .name-message h3 {
  color: #ffffff;
}
.chats-page .chat-list .chat .name-message p {
  color: #ffffff;
  width: 100%;
}
.chats-page .chat-list .chat .chat-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.chats-page .chat-list .chat .chat-info img {
  width: 25px;
  height: 25px;
  transition: transform 200ms;
}
.chats-page .chat-list .chat .chat-info img:active {
  transform: scale(0.9);
}
.chats-page .chat-list .nav {
  width: 100%;
  height: 60px;
  position: sticky;
  bottom: 20px;
  background-color: #ff6363;
  box-shadow: 0 0 10px #444444;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.chats-page .chat-list .nav img {
  height: 45%;
}

.each-chat-page {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.each-chat-page .header {
  width: 100%;
  height: 7vh;
  background-color: #444444;
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
}
.each-chat-page .header .left-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.each-chat-page .header .left-part .back-button {
  height: 30%;
}
.each-chat-page .header .left-part .pro-pic {
  height: 60%;
  margin-inline: 20px;
}
.each-chat-page .header .left-part h3 {
  color: #ffffff;
}
.each-chat-page .header .chat-info-icon {
  height: 50%;
}
.each-chat-page .message-container {
  position: fixed;
  bottom: 80px;
  width: 100%;
  padding-inline: 10px;
  display: grid;
}
.each-chat-page .message-container .message {
  border-radius: 10px;
  padding: 10px;
  max-width: 70%;
  overflow: hidden;
  word-wrap: break-word;
  margin-top: 10px;
}
.each-chat-page .message-container .user {
  background-color: #444444;
  color: #ffffff;
  justify-self: end;
}
.each-chat-page .message-container .other {
  background-color: #ffffff;
  color: #444444;
  border: 2px solid #444444;
  justify-self: start;
}
.each-chat-page .type-area {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  padding-inline: 15px;
  bottom: 15px;
  width: 100%;
  min-height: 50px;
  justify-content: space-between;
}
.each-chat-page .type-area .type-box {
  width: 100%;
  min-height: fit-content;
  border: 2px solid #444444;
  border-radius: 100px;
  padding-inline: 20px;
  color: #444444;
  font-size: 15px;
  display: flex;
}
.each-chat-page .type-area .type-box:focus {
  outline: none;
}
.each-chat-page .type-area .type-box::placeholder {
  color: #444444;
}
.each-chat-page .type-area .send-btn {
  width: 60%;
  padding: 0 !important;
  margin-left: 10px;
}

/*# sourceMappingURL=index.css.map */
